# The binaries of the end-to-end tests have no suffix: ignore all but the
# sources.
test/*
!test/*.c
!test/*.f90
!test/*.h
!test/*.py
examples/ring
proxy
mpi-wrappers/*.c*
mpi-wrappers/*.so*
Makefile_config
